@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap')
;
html body {
    background-color: rgb(185, 184, 184);
    height: 100vh;
    overflow: auto;
}

html::-webkit-scrollbar {
    width: 0;
}





.Caja{
    
    background-image: url('./assets/Logo.png');
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: center;
    height: 100%;
    width: auto;
    max-height: inherit;
    max-width: inherit;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: 10px solid black;
}


.section2{
    border: 10px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(41, 38, 38, 0.671);   
    border-radius: 20px;
    padding: 4rem;
}

.inside{
    max-width: 70vh;
  
}

.section{
    border : 10px solid red;;
}

.fotico2{
    border: 10px solid red;
    background-size:cover;
    background-image: url('./assets/campaña 12.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 350px;
}

.titulito{
    color: white;
    font-size: 4rem;
    font-family: 'Arvo', serif;
    margin-top: 1rem;}

.parrafo{
    color: white;
    font-size: 1rem;
    font-family: 'Arvo', serif;
    margin: auto
}


@media screen and (max-width: 900px) {
    .section{
        padding: 0 50px;
    }


    .titulito{
        font-size: 3rem;
    }

    .parrafo{
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 1300px){

    .section{
        padding: 0 50px;
    }

    .titulito{
        font-size: 3rem;
    }

    .parrafo{
        font-size: 1rem;
    }

}

@media screen and (max-width: 545px){

    .section{
        padding: 1px;
    }

    .titulito{
        font-size: 2rem;
    }

    .parrafo{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 380px){
    html{
        overflow: hidden;}

    .section{
        padding: 1px;
    }

    .titulito{
        font-size: 1rem;
    }

    .parrafo{
        font-size: 0.5rem;
    }
}