/* Estilos generales */
body {
  font-family: Roboto, sans-serif;
}

.evaluaciones {
  padding: 20px;
  height: 100%;
  overflow: scroll;
}

.titulo-evaluaciones {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  margin-top: 2rem;
}

/* Estilos para el contenedor de las evaluaciones */
.evaluaciones-list {
  margin: 0 auto;
  max-width: 800px;
  
}

/* Estilos para las tarjetas de evaluaciones */
.evaluacion-card {
  width: 75%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-details h3 {
  margin: 0 0 10px;
}

.card-details p {
  margin: 5px 0;
}

.edit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.edit-button-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button-container button:hover {
  background-color: #0056b3;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.close:hover {
  color: red;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content label {
  display: flex;
  margin-bottom: 10px;
  line-height: 50px;
}

.modal-content input,
.modal-content select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 204px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.materia-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c3e5021;
  border-radius: 30px;
}

.materia-section h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 15px;
}

.upload-button-container button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.upload-button-container button:hover {
  background-color: #45a049;
}

.upload-button-container input[type="file"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* styles/Evaluaciones.css */
.export-button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
